[Desktop Entry]
Name=ZUI
Comment=ZUI Desktop Environment
Exec=bspwm
TryExec=/usr/bin/bspwm
Type=Application
Icon=
X-LightDM-DesktopName=ZUI
DesktopNames=ZUI
Keywords=tiling;wm;windowmanager;window;manager;
